[Desktop Entry]
Name=Smart actions
Type=Service
X-KDE-ServiceType=inode/directory
Actions=Add;

[Desktop Action Add]
Name=Add directory as Smart channel
Name[pt_BR]=Adicionar diretório como canal do Smart
Exec=kdesu --nonewdcop -- kde_add_smart_channel.sh %U
Icon=smart


